@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 24%;
    --foreground-active: 0, 0%, 0%;
    --foreground-mild: 0, 0%, 24%;

    --primary: 0, 0%, 100%;
    --primary-foreground: 0, 0%, 24%;

    --secondary: 220, 14%, 92%;
    --secondary-foreground: 0, 0%, 35%;

    --accent1: 217, 86%, 26%;
    --accent2: 217, 86%, 26%;
    --accent-foreground: 0, 0%, 100%;

    --border: 0, 0%, 86%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --muted: 0, 0%, 72%;
    --muted-foreground: 0, 0%, 100%;

    --input: 220, 14%, 96%;
    --ring: 236, 40%, 86%;

    --radius: 0.5rem;
    /*  */
  }

  .dark {
    --background: 238, 62%, 11%;
    --foreground: 0, 0%, 98%;
    --foreground-active: 0, 0%, 100%;
    --foreground-mild: 0, 0%, 60%;

    --primary: 238, 62%, 11%;
    --primary-foreground: 0, 0%, 98%;

    --secondary: 239, 46%, 20%;
    --secondary-foreground: 0 0% 98%;

    --accent1: 0, 68%, 54%;
    --accent2: 223, 89%, 53%;
    --accent-foreground: 0, 0%, 100%;

    --border: 0, 0%, 18%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --muted: 0, 0%, 72%;
    --muted-foreground: 0, 0%, 100%;

    --input: 239, 46%, 20%;
    --ring: 235, 45%, 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-pop bg-background text-foreground;
  }
}
